* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body{
	overflow: hidden;
}

.top {
	position: absolute;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: 100vw;
	height: 55vh;
    top: 0;
    background: linear-gradient(0deg, rgba(159,30,130,1) 0%, rgba(16,6,41,1) 100%);
}

.top-stars {
	position: absolute;
	width: 100%;
	height: 100%;
}

.top-star {
	position: absolute;
	border-radius: 50%;
	width: 2px;
	height: 2px;
	background-color: #fff;
	animation: star-move 20s linear infinite;
}

.top-star:nth-child(1) {
	border-radius: 50%;
	transform: scale(2);
	top: 20%;
	left:15%;
}

.top-star:nth-child(2) {
	border-radius: 50%;
    transform: scale(1);
	top: 50%;
	left: 10%;
}

.top-star:nth-child(3) {
	border-radius: 50%;
    transform: scale(2);
	top: 9%;
	left: 51%;
}

.top-star:nth-child(4) {
	border-radius: 50%;
    transform: scale(1);
	top: 56%;
	left: 30%;
}

.top-star:nth-child(5) {
	border-radius: 50%;
    transform: scale(2);
	top: 12%;
	left: 30%;
}

.top-star:nth-child(6) {
	border-radius: 50%;
    transform: scale(1);
	top: 35%;
	left: 30%;
}

.top-star:nth-child(7) {
	border-radius: 50%;
    transform: scale(2);
	top: 45%;
	left: 24%;
}

.top-star:nth-child(8) {
	border-radius: 50%;
    transform: scale(3);
	top: 70%;
	left: 12%;
}

.top-star:nth-child(9) {
	border-radius: 50%;
    transform: scale(1);
	top: 70%;
	left: 85%;
}

.top-star:nth-child(10) {
	border-radius: 50%;
    transform: scale(2);
	top: 10%;
	left: 5%;
}

.top-star:nth-child(11) {
	border-radius: 50%;
    transform: scale(2);
	top: 60%;
	left: 5%;
}

.top-star:nth-child(12) {
	border-radius: 50%;
	transform: scale(2);
	top: 20%;
	left:78%;
}

.top-star:nth-child(13) {
	border-radius: 50%;
    transform: scale(1);
	top: 50%;
	left: 91%;
}

.top-star:nth-child(14) {
	border-radius: 50%;
    transform: scale(2);
	top: 9%;
	left: 65%;
}

.top-star:nth-child(15) {
	border-radius: 50%;
    transform: scale(2);
	top: 56%;
	left: 80%;
}

.top-star:nth-child(16) {
	border-radius: 50%;
    transform: scale(2);
	top: 12%;
	left: 95%;
}

.top-star:nth-child(17) {
	border-radius: 50%;
    transform: scale(1);
	top: 35%;
	left: 87%;
}

.top-star:nth-child(18) {
	border-radius: 50%;
    transform: scale(2);
	top: 45%;
	left: 96%;
}

.top-star:nth-child(19) {
	border-radius: 50%;
    transform: scale(3);
	top: 70%;
	left: 12%;
}

.top-star:nth-child(20) {
	border-radius: 50%;
    transform: scale(2);
	top: 38%;
	left: 70%;
}

.top-star:nth-child(21) {
	border-radius: 50%;
    transform: scale(2);
	top: 80%;
	left: 5%;
}

.top-star:nth-child(22) {
	border-radius: 50%;
    transform: scale(2);
	top: 80%;
	left: 95%;
}

.top-sunct {
	position: relative;
	width: 35vw;
	margin-bottom: -15%;
}

.top-sun {
	padding-top: 100%;
	border-radius: 50%;
	background-image: linear-gradient( #fcdf11, #ff623f, #fe2085 50% );
	box-shadow: 0 0 160px 80px #ac3442;
	z-index: 1;
}

/* .top-sun p{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.25vw;
    color: white;
    text-align: center;
} */

.top-sun img{
    position: absolute;
    top: 20%;
    left: 40%;
    font-size: 1.25vw;
    color: white;
    text-align: center;
	height: 200px;
	animation: ananas 10s linear infinite;
}


.top-mount{
    position: absolute;
    display: flex;
    justify-content: space-around;
	width: 35vw;
	bottom: 40%;
	z-index: 1;
}

.top-mount img{
    width: 50vw;
}

.alt {
	position: absolute;
	overflow: hidden;
	width: 100vw;
	height: 45vh;
	bottom: 0;
	border-top: 6px solid #a3c;
	background-color: #000;
	z-index: 1;
}

.palm-left-1 img, 
.palm-left-2 img,
.palm-left-3 img, 
.palm-left-4 img {
	height: 120px;
}

.palm-right-1 img, 
.palm-right-2 img,
.palm-right-3 img, 
.palm-right-4 img {
	height: 120px;
	transform: scaleX(-1);
}

.palm-left-1{
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 30%;
	animation: left-move-1 3s cubic-bezier(0.55, 0.06, 0.68, 0.19) forwards infinite;
	perspective: 1000px;
	transform-origin: top center;
}

.palm-left-2{
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 20%;
	animation: left-move-2 3s cubic-bezier(0.55, 0.06, 0.68, 0.19) forwards infinite;
	perspective: 1000px;
	animation-delay: 1s;
	transform-origin: top center;
}

.palm-left-3{
	position: absolute;
	z-index: 2;
	top: 45%;
	left: 8%;
	animation: left-move-3 3s cubic-bezier(0.55, 0.06, 0.68, 0.19) forwards infinite;
	animation-delay: 2s;
	perspective: 1000px;
	transform-origin: top center;
}

.palm-left-4{
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 40%;
	animation: left-move-4 3s cubic-bezier(0.55, 0.06, 0.68, 0.19) forwards infinite;
	perspective: 1000px;
	transform-origin: top center;
}

.palm-right-1{
    position: absolute;
	z-index: 2;
	top: 50%;
	left: 60%;
	animation: right-move-1 3s cubic-bezier(0.55, 0.06, 0.68, 0.19) forwards infinite;
	perspective: 1000px;
	transform-origin: top center;
}

.palm-right-2{
    position: absolute;
    display: flex;
	z-index: 2;
	top: 50%;
	left: 75%;
	animation: right-move-2 3s cubic-bezier(0.55, 0.06, 0.68, 0.19) forwards infinite;
	animation-delay: 1s;
	perspective: 1000px;
	transform-origin: top center;
}

.palm-right-3{
    position: absolute;
	z-index: 2;
	top: 50%;
	left: 85%;
	animation: right-move-3 3s cubic-bezier(0.55, 0.06, 0.68, 0.19) forwards infinite;
	perspective: 1000px;
	transform-origin: top center;
}

.palm-right-4{
    position: absolute;
	z-index: 2;
	top: 45%;
	left: 95%;
	animation: right-move-4 3s cubic-bezier(0.55, 0.06, 0.68, 0.19) forwards infinite;
	animation-delay: 2s;
	perspective: 1000px;
	transform-origin: top center;
}


.car{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    left: 0;
    right: 0;
    top: 10%;
    animation: car-move 3s linear infinite;
	z-index: 2;
}

.alt-linesct {
	height: 100%;
	perspective: 1000px;
	perspective-origin: center top;
}

.alt-lines {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-origin: top center;
	animation: .3s linear infinite lines-move;
}

.alt-shutdown #alt-lines {
	animation-duration: 5s;
}

.alt-hlines, .alt-vlines {
	position: absolute;
	left: calc( ( 900% - 100% ) / -2 );
	width: 900%;
	height: 500%;
}

.alt-vlines {
	display: flex;
	justify-content: center;
}

.alt-hline, .alt-vline {
	width: 100%;
	height: 100%;
	background-color: #a3c;
}

.alt-hline { 
    height: 3px; 
}

.alt-vline { 
    width: 3px; 
}

.alt-hline + .alt-hline { 
    margin-top: 100px; 
}

.alt-vline + .alt-vline { 
    margin-left: 50px; 
}

.alt-shadow {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient( #000 0%, transparent );
	z-index: 1;
}

@keyframes ananas{
	0% {
        transform: rotate(0deg);
	}
    100% {
		transform: rotate(360deg);
	}
}

@keyframes left-move-1 {
    0% {
		transform: translateY(30%) translateX(70%) scale(0);
	}
	100% {
		transform: translateY(70%) translateX(-1000%) scale(2);
	}
}

@keyframes left-move-2 {
    0% {
		transform: translateY(30%) translateX(15%) scale(0);
	}
	100% {
		transform: translateY(70%) translateX(-1200%) scale(2);
	}
}

@keyframes left-move-3 {
    0% {
		transform: translateY(70%) translateX(100%) scale(0);
	}
	100% {
		transform: translateY(70%) translateX(-2000%) scale(2);
	}
}

@keyframes left-move-4 {
    0% {
		transform: translateY(25%) translateX(0%) scale(0);
	}
	100% {
		transform: translateY(70%) translateX(-700%) scale(2);
	}
}


@keyframes right-move-1 {
	0% {
		transform: translateY(30%) translateX(-150%) scale(0);
	}
	100% {
		transform: translateY(70%) translateX(700%) scale(2);
	}
}

@keyframes right-move-2 {
	0% {
		transform: translateY(30%) translateX(-150%) scale(0);
	}
	100% {
		transform: translateY(70%) translateX(1500%) scale(2);
	}
}

@keyframes right-move-3 {
	0% {
		transform: translateY(30%) translateX(-150%) scale(0);
	}
	100% {
		transform: translateY(70%) translateX(1000%) scale(2);
	}
}

@keyframes right-move-4 {
	0% {
		transform: translateY(70%) translateX(-150%) scale(0);
	}
	100% {
		transform: translateY(70%) translateX(2000%) scale(2);
	}
}

@keyframes car-move {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(-10px, -5px);
    }
    75% {
        transform: translate(10px, -5px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes star-move {
    100% {
        transform: translateY(-500px);
    }
}

@keyframes lines-move {
	from { transform: rotateX( 85deg ) translateY( 0 ); }
	to { transform: rotateX( 85deg ) translateY( 100px ); }
}